.section-block {
	border-radius: 12px;
	background-color: #ffffff;
	padding: 24px 16px;
}

.section-block__title {
	font-family: Balsamiq Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	padding: 0;
	margin: 0;
}